.homepage{
    background-color: #030303;
    color: #FFFFFF;
    font-size: 16px;
    justify-content: top;
}
.leftside{
    margin-top: 30px;
    width: 50%;
    height: 100vh;
    float: left;

}
.rightside{
    margin-top: 30px;
    width:50%;
    height: 100vh;
    float: right;
}
input[type=radio] {
    display: inline;
  }

.textStyle {
    background-color: #030303;
    color: #FFFFFF;
    border-color: #FFFFFF;
    width: 600px;
    min-width: -moz-fit-content;
    min-width: fit-content;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -51px;
    font-family: Poppins;
    font-size: 16px;
    padding: 10px;
}
.save{
    background-color: #6741D9;
    color: #FFFFFF;
    width: 600px;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;

}